{% extends "base.html" %}
{% block sidebar %}
<ul>
	<li><a href="/yourself/">Evaluate Yourself</a></li>
    <li><a href="/contacts/">Contacts</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-md-6">
<div class="jumbotron">
    <p>Yash Saraf<br>(+91)9838272344<br>yash.sarafcd.ece14@iitbhu.ac.in</p>
</div>
    </div>
    <div class="col-sm-3 col-md-6">
<div class="jumbotron">
    <p>Aman Soni<br>(+91)7777777777<br>aman.soni.ece14@iitbhu.ac.in</p>
</div>
    </div>
    </div>
{% endblock %}
